@import '_config.scss';

.about {
    $self: &;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.2em;

    &__experience-title {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

    &__experience-container {
        $self:&;
        transform: translateX(-150%);
        animation: slide 1.2s forwards;

        &:nth-of-type(2) {
            animation-delay: .4s;
        }

        &:nth-of-type(3) {
            animation-delay: .8s;
        }

        &:nth-of-type(4) {
            animation-delay: 1.2s;
        }

        .about__experience-item-title {
            margin-bottom: 10px;
        }
    }
    
    &__skills-container {
        overflow: hidden;

        .about__skills-title {
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        }

        .about__skills-list {
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .about__skills-item-logo {
                width: 75px;
            }
        }
    }
}