@import '_config.scss';

.contact {
    $self: &;
    padding-top: 60px;

    &__title {
        font-size: 1.8em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

    &__form {
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 500px;
        justify-content: space-around;
        align-items: center;

        &-section {
            width: 100%;
            font-size: 1.3em;
            margin-top: 10px;

            &-label {
                display: block;
                margin-bottom: 5px;
            }

            &-input,
            &-text {
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                font-size: .7em;
            }

            &-text {
                resize: vertical;
                height: 100px;
                font-family: $main-font;
            }

            &-error {
                color: red;
                opacity: 0;
                font-size: .7em;

                &.show {
                    opacity: 1;
                }
            }
        }

        &-submit-btn {
            margin-top: 20px;
            background-color: $primary-color;
            width: 150px;
            font-size: 1rem;
        }
    }

    &__info {
        margin-top: 180px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: #ddd;
        margin-bottom: 15px;

        &-icon {
            font-size: 1.5rem;
            vertical-align: text-bottom;
            margin-right: 5px;
        }

        &-social-link {
            font-size: 1.5rem;
            margin-left: 10px;
        }
    }
}